<br/><br/>
<h3>Edit Property</h3>

<%= render "form", property: @property %>

<br>

<div>
  <%= link_to "Show", @property, class:"btn btn-dark" %> 
  <%= link_to "Back ", properties_path, class:"btn btn-dark" %>
</div>
